/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set default font */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background: #FEE12B; /* yellow */
    padding: 20px;
    display: flex;
    justify-content: space-between
}
h2{
    color: #f85a05;
    background: black;
}
h3{
    font-size: larger;
}  
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;}
    input[type=email] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #555;
        outline: none;}

        input[type=message] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid #555;
            outline: none;}
           
            input[type=submit] {
                padding: 5px 15px;
                background: #99e0b2;
                border: 0 none;
                cursor: pointer;
                -webkit-border-radius: 5px;
                border-radius: 5px;
            }
            .submit-btn {
                background-color: #4CAF50; 
                border: none; 
                color: rgb(11, 11, 11); 
                padding: 10px 20px;
                text-align: center;
                text-decoration: none; 
                display: inline-block; 
                font-size: 26px;
                cursor: pointer; 
              }
              